body {
    font-family: 'Montserrat', sans-serif;
}

/*Navbar*/

.navbar-brand {
    margin-left: 8px;
}

.button-primary {
    width: 90px;
    height: 39px;
    background-color: #2C5871;
    color: #fff;
    border-radius: 14px;
    border-color: transparent;
    font-weight: 600;
}

.button-secondary {
    width: 120px;
    height: 39px;
    background-color: #4BCDD6;
    color: #fff;
    border-radius: 14px;
    border-color: transparent;
    font-weight: 600;
}

/*Hero Section*/

#hero {
    background: linear-gradient(160deg, #4BCDD6 -0.79%, #FFFFFF 52.99%);
    width: auto;
    height: 785px;
    padding: 100px;
    padding-top: 175px;
}

.hero-tagline h1 {
    color: #2C5871;
    font-weight: 700;
    font-size: 50px;
}

.hero-tagline p {
    font-weight: 400;
    font-size: 20px;
    width: 85%;
    margin-top: 25px;
    margin-bottom: 60px;
}

/*Section 2*/

#section2 {
    width: auto;
    height: auto;
    left: 0px;
    top: 785px;
    padding: 150px;
    padding-top: 50px;
    background: linear-gradient(345deg, #4BCDD6 -0.79%, #FFFFFF 52.99%);
}

h2 {
    color: #2C5871;
    font-weight: 700;
    font-size: 40px;
    margin-bottom:20;
}   

.card {
    box-sizing: border-box;
    width: 312px;
    height: 402px;
    padding: 40px;
    background: #4BCDD6;
    border: 5px solid #FFFFFF;
    border-radius: 45px;
    box-shadow: 10px 10px 25px
    rgba(0, 0, 0, 0.25);
}

.circle-icon {
    width: 86px;
    height: 86px;
    border-radius: 50%;
    background: #2C5871;
}

h3 {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 35px;
    
}

/*Section 3*/
#about {
    padding: 20px;
    background: #2C5871;
}

.about-us h2 {
    color: #FFFFFF;
}

#section3 {
    padding: 150px;
    padding-top: 75px;
    padding-bottom: 75px;
}

.teks p {
    width: 830px;
    height: 324px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 36px;
    text-align: justify;
    color: #000;
}

#section4 {
    padding-bottom: 70px;
}

.tagline h2{
    margin-bottom: 20px;
}

#section3-4 {
    background: linear-gradient(180deg, #FFFFFF 31.56%, #4BCDD6 122.31%);
}

#copyright {
    padding: 15px;
}